<div class='page new-league'>
  <h2 class='page-title'>Create a New League</h2>
  <%= form_with url: leagues_path, method: :post, local: true do |f| %>
    <div class='league-name'>
      <%= f.label :name, "League Name:", class: "league-input-label" %>
      <%= f.text_field :name, class: "input-field-primary" %>
    </div>
    <br>
    <span class="instruction">Invite 8 players:</span>
    <br>
    <div class='checkboxes'>
      <% @users_facade.all_users.each do |user| %>
        <% if user.id != current_user %>
          <div id="user-<%=user.id%>">
            <%= check_box_tag "participants[]", user.id, false, id: "#{user.id}", class: "check-box-input" %>
            <%= label_tag "#{user.id}" do %>
              <%= user.name %> (<%= user.email %>)
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class='time-select'>
      <span class='instruction'>DRAFT START TIME:</span><br>
      <%= f.label :day, "Day:" %>
      <%= f.date_select :day, class: "input-field-primary" %><br>
      <%= f.label :time, "Time:" %>
      <%= f.time_select :time, {ampm: true}, class: "input-field-primary" %><br>
      <%= f.submit "Submit", class: "btn-primary" %>
    </div>
  <% end %>
</div>