<div class='page user-dashboard'>
  <h2 class='page-title'><%= @facade.user_name %>'s Dashboard</h2>
  <h3>My Leagues:</h3>
  <section class="section-head leagues-for-user">
    <% if @facade.all_leagues_for_user == [] %>
      <h3>You are currently in 0 leagues.</h3>
    <% else %>
      <table class='leage-table'>
        <thead>
          <tr>
            <th>League Name</th>
            <th>Roster Link</th>
            <th>Draft Time</th>
            <th>Draft Date</th>
            <th>League Manager</th>
          </tr>
        </thead>
        <tbody>
          <% @facade.all_leagues_for_user.each do |league| %>
            <tr id="league_<%= league.id %>">
              <td class='td-primary'><%= link_to league.name, league_path(league.id), class: 'link-secondary' %></td>
              <td><%= link_to "Roster", user_league_path, class: 'btn-secondary' %></td>
              <td><%= league.draft_time %></td>
              <td><%= league.draft_date %></td>
              <td><%= league.manager_name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </section>
  <%= button_to "Create League", new_league_path, method: :get, class: 'btn-primary' %>
  <br>
  <section class="news-feed">
    <h3>News Feed:</h3>
    <% @facade.articles.each do |article| %>
    <div id=article_<%= article.id %>>
      <p class="article-published-on">News from: <%= article.published_on %></p>
      <%= link_to article.headline, article.url, class: "article-headline" %>
      <br>
      <br>
    </div>
    <% end %>
  </section>
</div>