<!DOCTYPE html>
<html>
  <head>
    <title>DraftMadnessFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>WELCOME TO THE MADNESS</h1>
    <%= yield %>
    <div id="flash">
      <% flash.each do |type, notice| %>
          <h3><b><%= notice %></b></h3>
      <% end %>
    </div>
  </body>
</html>
