<!DOCTYPE html>
<html>
  <head>
    <title>DraftMadnessFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/assets/hoop_logo.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <!-- no action -->
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <%= yield %>
    <div id="flash">
      <% flash.each do |type, notice| %>
          <h3><b><%= notice %></b></h3>
      <% end %>
    </div>
  </body>
</html>
